<% provide (:title, 'Acerca de') %>
<!DOCTYPE html>
<html>
	<head>
		<title>Tutorial de Ruby On Rails Sample App | <%= yield(:title) %></title>
	</head>
	<body>
		<h1>Acerca de</h1>
		<p>El <a href="http://railstutorial.org/">Tutorial de Ruby on Rails</a>
			es un proyecto de f¿hacer un libro para enseñar desarrollo web con 
			<a href="http://rubyonrails.org/">Ruby on rails</a>. esta es una aplicacion
			de ejemplo para ese tutorial.
		</p>
	</body>
</html>