<% provide (:title, 'Contacto') %>
<!DOCTYPE html>
<html>
	<head>
		<title>Tutorial de Ruby On Rails Sample App | <%= yield(:title) %></title>
	</head>
	<body>
		<h1>Acerca de</h1>
		<p>Contacto sobre el tutorial de Ruby On Rails en <a href="http://rubyonrails.org/contact">Contacto</a>. 
		</p>
	</body>
</html>