<% provide (:title, 'Home') %>
<!DOCTYPE html>
<html>
	<head>
		<title>Tutorial de Ruby On Rails Sample App </title>
	</head>
	<body>
		<div class="center hero-unit">
			<h1>Sample App</h1>
			
			<h2>
				Esta es la home page para: <a href="http://railstutorial.org">Tutorial de Ruby On Rails</a>	sample aplication.
			</h2>
			<%= link_to "Sing up now!", signup_path, :class=> "btn btn_large btn_primary" %>
		</div>
		<%= link_to image_tag("rails.png", :alt=> "Rails"), 'http://rubyonrails.org' %>
	</body>
</html>